HOST=0.0.0.0
PORT=1339

# Database Configuration
DATABASE_CLIENT=postgres
DATABASE_HOST=localhost
DATABASE_PORT=5432
DATABASE_NAME=maisam_makeup_ecommerce_strapi
DATABASE_USERNAME=strapi
DATABASE_PASSWORD=your_password_here
DATABASE_SSL=false

# Secrets
APP_KEYS="toBeModified1,toBeModified2"
API_TOKEN_SALT=tobemodified
ADMIN_JWT_SECRET=tobemodified
TRANSFER_TOKEN_SALT=tobemodified
JWT_SECRET=tobemodified
